<h1>TODO: Update UI and add logic to find account balance</h1>

<form class="form-inline">
  <li>
    Create a reusable search component and use it here to search account balance
    by Account No)
  </li>
  <li></li>
  <li>Add the results (Account No and Account Balance) below</li>
  <li></li>
</form>

<div>
  <p>Account No: ?</p>
  <p>Account Balance: ?</p>
</div>

<app-search
  (messageEvent)="receiveTransList($event)"
  [transType]="transType"
></app-search>

<table class="table">
  <thead>
    <tr>
      <th>Customer Id</th>
      <th>Transaction Id</th>
      <th>Account No</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Trn Type</th>
      <th>Debit/Credit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tran of transList">
      <td>{{ tran.customerId }}</td>
      <td>{{ tran.transactionId }}</td>
      <td>{{ tran.accountNo }}</td>
      <td>{{ tran.amount }}</td>
      <td>{{ tran.balance }}</td>
      <td>{{ tran.transactionType }}</td>
      <td>{{ tran.debitOrCredit }}</td>
    </tr>
  </tbody>
</table>
